services:
  pygeoapi:
    image: geopython/pygeoapi:latest
    container_name: pygeoapi_ws
    ports:
      - "5000:80"
    volumes:
     - ./config.yml:/pygeoapi/local.config.yml
     - ./assets/oving5 - templating/templates:/pygeoapi/templates # sti til egne maler
     - ./assets/oving5 - templating/static:/pygeoapi/static # sti til egne statiske filer (bilder/ikoner, styling etc.)
    restart: unless-stopped
    environment:
      - DB_NAME=administrative_enheter
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=qwer1234
      - POSTGRES_HOST=postgis
      - POSTGRES_DB=administrative_enheter

  postgis:
    build:
      context: ./assets/postgis
    container_name: postgis
    ports:
      - "5432:5432"
    environment:
      - DB_NAME=administrative_enheter
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=qwer1234
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10